<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset=”UTF-8">
  <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
  <meta http-equiv=”X-UA-Compatible” content=”ie=edge”>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Webscraper in Python using Flask</title>
 </head>
 <body>
    <h1>{{ head }}</h1>
    <p>{{ site_name }}</p>
    <p>{{updated_date}}</p>
    <p>{{description}}</p>
    <br>
    <article>{{ content }}</article>
    <img src="{{img}}" alt="Lamp" width="full" height="full">
    <p>{{hi[0]}}</p>

 </body>
</html>